server:
  port: 8080

spring:
  application:
    name: intro2026

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

  datasource:
    url: jdbc:mysql://localhost:3306/intro2026?serverTimezone=Asia/Seoul  # 예: jdbc:mysql://localhost:3306/likelion
    username: root  # 예: root
    password: TnWlSdbttq5521! # 예: admin
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: false
        use_sql_comments: true

